
body {
  font-family: "Federo", sans-serif;
  font-weight: 400;
  font-style: normal;

  color: #cbb2f7;
  background-color: #1c182d;
}

.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.federo-regular {
  font-family: "Federo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3 {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

table, th, td {
  border: 1px solid;
}
