
:root {
--dark-blue: #25344F;
--light-blue: #617891;
--tan: #D5B893;
--brown: #6F4D38;
--red: #632024;
}

body {
  font-family: "Federo", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;

  color: var(--tan);
  background-color: var(--dark-blue);
 }

.center {
  max-width: 960px;
  margin: auto;
  text-align: center;

}
h1, h2, h3 {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--tan)
}

h1 {
  font-size: 40px
}

 table, th, td {
  border-width: 3px;
  border-style: solid;
  padding: 10px;
  border-collapse: collapse;
  color: var(--tan);
  margin: auto;

}

th {
  background-color: var(--tan);
  color: var(--dark-blue);
  border-color: var(--tan);
}



img {
  border-radius: 8px;
  max-width: 175px;
  height: auto;
}


ul, li {
  list-style-type: square;
  text-align: left;
  line-height: 1.5;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--dark-blue);
}

.nav-bar ul li {
  float: left;
  padding: 8px;
    list-style-type: none;
}

.nav-bar ul li a {
  display: block;
  color: var(--tan);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  font-size: 17px;
  border-style: solid;
  border-width: 3px;
}

.nav-bar ul li a:hover {
  background-color: var(--light-blue);
}


.big-letters {
  font-family: "Limelight", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 25px;
}

.quote {
  font-family: "Federo", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 20px;
  margin: 0px 200px 0px 200px
}

.limelight-regular {
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.federo-regular {
  font-family: "Federo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

